case-battel-5-83-140-108.sslip.io {
  encode gzip zstd
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
    X-Frame-Options SAMEORIGIN
  }
  reverse_proxy 127.0.0.1:3000 {
    header_up X-Real-IP {remote_host}
  }
}

http://5.83.140.108 {
  redir https://case-battel-5-83-140-108.sslip.io{uri} permanent
}
